{% extends "base.html.twig" %}

{% block title figure.name ~ ' | SnowTricks' %}
{% block h1 figure.name %}
{% block subtitle figure.description %}

{% block body %}

	<div class="figure-container col text-center container">
		<div class="image" style="background-image: url({{asset('build/images/home_image.jpg')}});">
			<h1>
				{{figure.name}}
			</h1>
		</div>
		<a class="btn btn-primary media-mobile" data-toggle="collapse" href="#mediaCollapse" role="button" aria-expanded="false" aria-controls="mediaCollapse">
			Voir les médias
		</a>
		<div class="collapse" id="mediaCollapse">
			<div class="medias">
				<div class="photos">
					<div style="background-image: url({{asset('build/images/empty.jpg')}})"></div>
					<div style="background-image: url({{asset('build/images/empty.jpg')}})"></div>
					<div style="background-image: url({{asset('build/images/empty.jpg')}})"></div>
				</div>
				<div class="videos">
					<div style="background-image: url({{asset('build/images/empty.jpg')}})"></div>
					<div style="background-image: url({{asset('build/images/empty.jpg')}})"></div>
					<div style="background-image: url({{asset('build/images/empty.jpg')}})"></div>
				</div>
			</div>
		</div>
		<div class="row text">
			<div class="col text-left">
				{{ figure.description }}
			</div>
		</div>
		<div class="btn-toolbar infos justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
			<div class="btn-group mr-2" role="group" aria-label="First group">
				<a href="#" class="btn btn-primary">Créée le
					{{ figure.createdAt|date("d/m/Y") }}</a>
			</div>
			<div class="btn-group mr-2" role="group" aria-label="Second group">
				<a href="#" class="btn btn-primary">Groupe</a>
			</div>
			{% if date_is_same %}
				<div class="btn-group" role="group" aria-label="Third group">
					<a href="#" class="btn btn-primary">Modifiée le
						{{ figure.updatedAt|date("d/m/Y") }}</a>
				</div>
			{% endif %}
		</div>
		{% include "comment.twig" %}
	</div>

{% endblock body %}
