{% extends "base.html.twig" %}

{% block title figure.name ~ ' | SnowTricks' %}
{% block h1 figure.name %}
{% block subtitle figure.description %}

{% block body %}

	<div class="figure-container col text-center container">
		{% if app.user %}
			<div class="actions">
				<a class="edit" href="{{ path('admin.figure.edit', {id: figure.id}) }}">
					<i class="fa fa-pencil" aria-hidden="true"></i>
				</a>
				<form method="post" action="{{ path('admin.figure.delete', {id: figure.id}) }}" style="display: inline-block" onsubmit="return confirm('Vous êtes sur le point de supprimer une figure. Êtes vous vraiment sûr ?')">
					<input type="hidden" name="_method" value="DELETE">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
					<button class="btn btn-link delete">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
				</form>
			</div>
		{% endif %}

		<div class="image" style="background-image: url({{ asset('build/images/home_image.jpg')}});">
			<h1>
				{{figure.name}}
			</h1>
		</div>
		<a class="btn btn-primary media-mobile" data-toggle="collapse" href="#mediaCollapse" role="button" aria-expanded="false" aria-controls="mediaCollapse">
			Voir les médias
		</a>
		<div class="collapse" id="mediaCollapse">
			<div class="medias">
				<div class="photos">
					{% for picture in figure.pictures %}
						<div class="photo" style="background-image: url({{ vich_uploader_asset(picture, 'imageFile') }})"></div>
					{% endfor %}
				</div>
				<div class="videos">
					<div style="background-image: url({{asset('build/images/empty.jpg')}})"></div>
					<div style="background-image: url({{asset('build/images/empty.jpg')}})"></div>
					<div style="background-image: url({{asset('build/images/empty.jpg')}})"></div>
				</div>
			</div>
		</div>
		<div class="row text">
			<div class="col text-left">
				{{ figure.description }}
			</div>
		</div>
		<div class="btn-toolbar infos justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
			<div class="btn-group mr-2" role="group">
				<a href="#" class="btn btn-info">
					Créée le
					{{ figure.createdAt|date("d/m/Y") }}
				</a>
			</div>
			{% for category in figure.categories %}
				<div class="btn-group mr-2" role="group">
					<a href="#" class="btn btn-info">
						{{category.name}}
					</a>
				</div>
			{% endfor %}
			{% if not date_is_same %}
				<div class="btn-group" role="group">
					<a href="#" class="btn btn-info">
						Modifiée le
						{{ figure.updatedAt|date("d/m/Y") }}
					</a>
				</div>
			{% endif %}
		</div>
		<div class="comments-container">
			<h2>
				Commentaires
			</h2>

			{% include "flash.html.twig" %}

			{% if app.user and form is defined %}


				{{ form_start(form) }}

				<div class="row">
					<div class="col">
						{{ form_row(form.content) }}
					</div>
				</div>

				<button class="btn btn-primary">
					{{ button|default('Ajouter un commentaire') }}
				</button>

				{{ form_end(form) }}

			{% endif %}

			{% if comments is defined %}
				{% for comment in comments %}
					{% include "comment.twig" with {'comment': comment} %}
				{% endfor %}
			{% endif %}
		</div>
	</div>

{% endblock body %}
