{% extends "base.html.twig" %}

{% block title figure.name ~ ' | SnowTricks' %}
{% block h1 figure.name %}
{% block subtitle figure.description %}

{% block body %}

	<div class="figure-container col text-center container">
		<div class="image" style="background-image: url({{asset('build/images/home_image.jpg')}});">
			<h1>
				{{figure.name}}
			</h1>
		</div>
		<div class="medias">
			<div class="photos">
				<div style="background-image: url({{asset('build/images/empty.jpg')}})"></div>
				<div style="background-image: url({{asset('build/images/empty.jpg')}})"></div>
				<div style="background-image: url({{asset('build/images/empty.jpg')}})"></div>
			</div>
			<div class="videos">
				<div style="background-image: url({{asset('build/images/empty.jpg')}})"></div>
				<div style="background-image: url({{asset('build/images/empty.jpg')}})"></div>
				<div style="background-image: url({{asset('build/images/empty.jpg')}})"></div>
			</div>
		</div>
		<div class="row text">
			<div class="col text-left">
				{{ figure.description }}
			</div>
		</div>
	</div>

{% endblock body %}
