{{ form_start(form) }}
<div class="row">
	<div class="col">
		{{ form_row(form.imageFile) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.name) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.description) }}
	</div>
</div>
<div class="row">
	<div class="categories">
		{{ form_row(form.categories) }}
	</div>
</div>

{{ form_rest(form) }}
<div class="actions-form text-right">
	<button class="btn btn-primary edit">
		{{ button|default('Enregistrer') }}
	</button>
</div>
{{ form_end(form) }}
