{{ form_start(form) }}
<div class="row">
	<div class="col-md-6">
		{{ form_row(form.mainImgFile) }}
	</div>
	<div class="col-md-6">
		{{ form_row(form.pictureFiles) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.name) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.description) }}
	</div>
</div>
<div class="row">
	<div class="categories">
		{{ form_row(form.categories) }}
		<a href="{{path('admin.category.new')}}">Ajouter une nouvelle catégorie</a>
	</div>
</div>

{{ form_rest(form) }}
<div class="actions-form text-right">
	<button class="btn btn-primary edit">
		{{ button|default('Enregistrer') }}
	</button>
</div>
{{ form_end(form) }}
